.react-calendar {
    width: 100%;
    height: 100%;
    border-color: rgb(231, 231, 231);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}

.colors {
    background-color: rgb(7 89 133);
    color: rgb(16 185 129);
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
    background-color: rgb(16 185 129);
    color: white;
    border-radius: 5px;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day:hover {
    background-color: rgb(24, 205, 144);
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
    background-color: rgb(7 89 133);
    border-radius: 5px;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day:hover {
    background-color: rgb(9, 107, 159);
}

.react-calendar__tile.react-calendar__month-view__days__day:hover {
    border-radius: 5px;
     background-color: rgb(9, 107, 159, 0.2);
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
    color: rgb(16 185 129);
}

/*.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {

}*/