#root {
  width: 100%;
  height: 100vh;
  background-image: url('/Users/eduardo/Documents/GenomaX_MD/src/assets/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


